.grid {
  display: grid;
  grid-template-columns: repeat(4, 60px);
  justify-content: space-between;
  row-gap: 28px;
  /* Push rows down below status bar */
  padding-top: 8px;
  padding-bottom: 8px;
}
